/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 168px 0 168px;
}

.header__logo {
    display: block;
}

.header__icons-list {
    display: flex;
    justify-content: end;
    gap: 16px;
    list-style: none;
}

.header__icons-img {
    display: block;
    width: 20px;
    height: 20px;
}

/* about section */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 384px;
}

.about__group {
    max-width: 464px;
}

.about__group-subtitle {
    font-size: 24px;
    line-height: 28px;
    color: var(--honey-yellow);
}

.about__group-title {
    font-size: 50px;
    font-weight: 700;
    margin: 12px 0 24px 0;
    line-height: 59px;
}

.about__group-button {
    width: 300px;
    height: 66px;
    margin-top: 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 0px 0px #B68500;
    color: var(--button-text-color);
    background-color: var(--honey-yellow);
}
.avatar {
    height: 384px;
    width: 384px;
}

/* features section */

.features {
    min-height: 720px;
    background-color: var(--secondary-background-color);
}

.features__list {
    max-width: 944px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 16px;
    list-style: none;
    margin-top: 48px;
}

.features__list-item {
    max-width: 304px;
    width: 100%;
}

.features__list-img {
    height: 52px;
    width: 52px;
}

.features__list-title {
    margin: 12px 0 16px 0;
}

/* portfolio section */

.portfolio__title {
    margin-bottom: 48px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 16px;
}


.corner_of_chamarel {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%),
    url(../images/portfolio1.png);
    background-size: cover;
    background-position: center;
}

.golf_club {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%),
    url(../images/portfolio2.png);
    background-size: cover;
    background-position: center;
}

.hiking_trip {
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%),
    url(../images/portfolio3.png);
    background-size: cover;
    background-position: center;
}

.portfolio__item {
    padding: 0 0 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 304px;
    height: 304px;
    border-radius: 6px;
}

.portfolio__item-title {
    margin-bottom: 16px;
}

.portfolio__item-button {
    width: 120px;
    height: 36px;
    cursor: pointer;
    border: none;
    background-color: var(--bright-pink);
    color: var(--wnite);
    box-shadow: 0px 2px 0px 0px #CE1C3E;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

/* gallery section */

.gallery {
    background-color: var(--secondary-background-color);

}
.gallery__list {
    display: grid;
    grid-template-columns: repeat(4, 224px);
    grid-template-rows: repeat(3, 224px);
    gap: 16px;
    list-style: none;
}

.gallery-img {
    background-size: cover;
	background-position: center;
}

.gallery-video {
    display: flex;
    justify-content: end;
    background-size: cover;
	background-position: center;
}

.gallery-video-time {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    font-weight: 500;
    margin-top: 8px;
    margin-right: 4px;
}

.gallery-icon {
    height: 16px;
    width: 16px;
    z-index: 1;
    margin-top: 8px;
    margin-right: 8px;
}

.gallery-item-1 {
    background-image: url(../images/gallery01.png);
}

.gallery-item-2 {
    background-image: url(../images/gallery02.png);
}

.gallery-item-3 {
    background-image: url(../images/gallery03.png);
}

.gallery-item-4 {
    background-image: url(../images/gallery04.png);
}

.gallery-item-5 {
    background-image: url(../images/gallery05.png);
}

.gallery-item-6 {
    background-image: url(../images/gallery06.png);
}

.gallery-item-7 {
    background-image: url(../images/gallery07.png);
}

.gallery-item-8 {
    background-image: url(../images/gallery08.png);
}

.gallery-item-9 {
    background-image: url(../images/gallery09.png);
}

.gallery-item-10 {
    background-image: url(../images/gallery10.png);
}

.gallery-item-11 {
    background-image: url(../images/gallery11.png);
}

.gallery-item-12 {
    background-image: url(../images/gallery12.png);
}

/* contact section*/

.contact__title {
    margin-bottom: 47px;
}

.contact__container {
    display: flex;
    justify-content: space-between;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: -5px 5px 0px 0px #FFC41D;
    padding: 38px 32px 42px 32px;
    min-width: 464px;
    border-radius: 5px;
}

.contact__form-descriprtion {
    text-align: center;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 32px;
    letter-spacing: 1px;
}

.input-icon-img {
    margin-top: 12px;
}

.input-block {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: var(--bright-grey);
    box-shadow: 0px 3px 10px 0px #C7C7C740 inset;
    margin-bottom: 16px;
    min-height: 70px;
    padding-left: 32px;

}

.input { 
    background-color: var(--bright-grey);
    border: none;

}
.contact__form-button {
    height: 66px;
    background-color: var(--honey-yellow);
    margin-top: 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: var(--button-text-color);
    box-shadow: 0px 4px 0px 0px #B68500;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 422px;
}

.contact__info-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 384px;
    column-gap: 116px;
    row-gap: 32px;
}

.footer__icons-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.contact__info-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}  

.policy {
    font-size: 15px;
    line-height: 17.5px;
}

